/*
Theme Name: Avada Child
Description: Child theme for Avada theme
Author: ThemeFusion
Author URI: https://theme-fusion.com
Template: Avada
Version: 1.0.0
Text Domain:  Avada
*/

/* top border on dropdown */
.fusion-main-menu .sub-menu {
    border-top: 1px solid #ffffff;
}

/* Center footer widgets on mobile */
@media only screen and (max-width: 800px) {
    .fusion-footer #text-4 .fusion-button-wrapper.fusion-alignright {
        float: none;
        margin: 0;
    }

    .fusion-footer #social_links-widget-2 .fusion-social-networks.boxed-icons {
        text-align: center;
    }

    .fusion-footer .widget .fusion-social-networks.boxed-icons .fusion-social-network-icon:last-child {
        margin-right: 0;
    }

    .fusion-footer #text-4 {
        text-align: center;
    }

    .fusion-footer .fusion-columns .fusion-column {
        margin-bottom: 25px;
    }
}

/* Fusion Slider Headings */
#wrapper .main-flex .slide-content h1,
#wrapper .main-flex .slide-content h2,
#wrapper .main-flex .slide-content h3 {
    font-weight: 100;
}

#wrapper .main-flex .slide-content .heading h1,
#wrapper .main-flex .slide-content .heading h2,
#wrapper .main-flex .slide-content .heading h3 {
    text-transform: uppercase;
}

/* Main Menu */
@media only screen and (min-width: 921px) {
    .fusion-main-menu {
        /*margin-top: 34px;*/
    }

    .fusion-main-menu > ul > li > a {
        display: table-cell;
        vertical-align: bottom;
    }

    .fusion-main-menu > ul > li > a > span {
        line-height: 1;
        display: block;
        padding-bottom: 13px;
    }
}

.fusion-mobile-menu-design-modern.fusion-header-v1 .fusion-header {
    /*padding-top: 10px;*/
    /*padding-bottom: 13px;*/
}


/**
 * MISC
 */
.logo-wrapper img {
    width: 100%;
    max-width: 200px;
}

.ah-clearfix:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (min-width: 921px) {
    .title-banner-container {
        padding-top: 300px !important;
        padding-bottom: 80px !important;
    }
}
.title-banner-container .parallax-inner::after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    background-color: black;
    opacity: 0.3;
}

/* Home Page */

/* Product Category Blades */
#wrapper #main .title-banner-container {
    border-bottom: solid 1px white !important;
}

#wrapper #main .post-content .title-banner-container .fusion-title h1,
#wrapper #main .post-content .title-banner-container .fusion-title h2,
#wrapper #main .post-content .title-banner-container .fusion-title h3,
#wrapper #main .post-content .title-banner-container .fusion-title h1 a,
#wrapper #main .post-content .title-banner-container .fusion-title h2 a,
#wrapper #main .post-content .title-banner-container .fusion-title h3 a {
    color: white;
    font-size: 24px;
    line-height: 1.16666667;
    font-weight: 100;
    text-transform: uppercase;
}

@media only screen and (min-width: 801px) {
    #wrapper #main .post-content .title-banner-container .fusion-title h1,
    #wrapper #main .post-content .title-banner-container .fusion-title h2,
    #wrapper #main .post-content .title-banner-container .fusion-title h3,
    #wrapper #main .post-content .title-banner-container .fusion-title h1 a,
    #wrapper #main .post-content .title-banner-container .fusion-title h2 a,
    #wrapper #main .post-content .title-banner-container .fusion-title h3 a {
        font-size: 30px;
    }
}

/* Home Editorial Blade */
.home-editorial-blade {
}

.home-editorial-blade-title h2 {
    font-size: 32px;
    line-height: 1.1875;
    font-weight: normal;
}

@media only screen and (min-width: 801px) {
    .home-editorial-blade-title h2 {
        font-size: 42px;
        line-height: 1.28571429;
    }
}

.home-editorial-blade-caption h3 {
    font-size: 20px;
    line-height: 1.95;
    font-weight: 300;
    color: #000;
}

@media only screen and (min-width: 801px) {
    .home-editorial-blade-caption h3 {
        font-size: 22px;
        line-height: 1.86363636;
        color: #666;
    }
}

/**
 * ABOUT CONTAINER
 */
#main .about-container {
}

#main .about-container .fusion-row {
    padding-bottom: 30px;
    border-bottom: solid 1px #979797;
}

#main .about-container:last-child .fusion-row {
    border-bottom: none;
}

#wrapper #main .about-container .fusion-title h2 {
    text-transform: uppercase;
    font-size: 32px !important;
    line-height: 54px;
    padding-bottom: 30px;
    border-bottom: 1px solid #979797;
}

/**
 * CONTACT CONTAINER
 */
#main .contact-container .wpcf7-form label {
    color: #fff;
    text-transform: uppercase;
}

/**
 * PRODUCT GRID
 */
.fusion-woo-product-design-clean #main .brand-title {
    text-transform: uppercase;
    padding-bottom: 22px;
    border-bottom: solid 1px #979797;
}

.fusion-woo-product-design-clean #main .lead {
    color: #2B2B2B;
    font-size: 22px;
}

.fusion-woo-product-design-clean #main .product-category-title h3 {
    text-transform: uppercase;
    color: #2B2B2B;
    font-size: 28px;
    font-weight: 300;
    line-height: 41px;
    margin-top: 40px;
    padding-bottom: 22px;
    border-bottom: solid 1px #979797;

}

@media only screen and (min-width: 921px) {
    .fusion-woo-product-design-clean #main .product-category-text {
        /*padding-right: 20%;*/
    }
}

#main .products > li {
    border: none;
}

.fusion-woo-product-design-clean #main .products .product {
    border: 1px solid #F3F5F2;
    padding: 16px 16px 32px;
    position: relative;
}

.fusion-woo-product-design-clean #main .products .product-details {
    padding: 10px 0;
}

.fusion-woo-product-design-clean #main .products .product-details-container {
    text-align: left;
}

.fusion-woo-product-design-clean #main .products .product-title {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-style: normal;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 20px;
}

.fusion-woo-product-design-clean #main .products .product-title a {
    color: #000;
}

.fusion-woo-product-design-clean #main .products .view-product {
    color: #2B2B2B;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    position: absolute;
    bottom: 15px;
}

.fusion-woo-product-design-clean #main .products .view-product .arrow {
    /*border: solid 1px #2B2B2B;*/
    /*padding: 2px;*/
}

.product-grid-view .fusion-product-content,
.related.products .fusion-product-content {
    padding: 0 !important;
}

/**
 * SINGLE PRODUCT
 */

.single-product #main .product h1.product_title {
    color: #000000;
    font-size: 40px !important;
    font-weight: 300 !important;
    line-height: 54px !important;
    text-transform: uppercase !important;
}

.single-product #main .product h1.product_title {
    padding-bottom: 20px;
    border-bottom: solid 1px #979797;
    margin-bottom: 20px;
}

.single-product #main .product .product_meta {
    padding-top: 0;
    padding-bottom: 20px;
    border-bottom: solid 1px #979797;
    margin-bottom: 20px;
}

.single-product #main .product .product_meta .sku_wrapper {
    font-weight: 500;
    margin-bottom: 12px;
}

.single-product #main .product .product_meta .sku_wrapper .sku {
    font-weight: 300;
}

.single-product #main .product .product_meta .posted_in {
    font-weight: 500;
}

.single-product #main .product .product_meta .posted_in a {
    font-weight: 300;
}

.single-product #main .fusion-separator.sep-none {
    display: none;
}

.woocommerce-tabs .tabs li a {
    text-transform: uppercase;
}

.ah-component-groups {

}

.ah-component-group {

}

.tippy-content {
    text-align: left;
}

.single-product .woocommerce-tabs h2,
.woocommerce-tabs .entry-content h3,
.ah-component-group__title {
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
}

.ah-component-group__components {
    margin: 0 0 16px 0;
    padding: 0;
    list-style: none;
}

.ah-component-group__component {
    display: block;
    float: left;
    margin-right: 12px;
    margin-bottom: 12px;
    filter: grayscale(100%);
    transition: filter 0.25s;
}


.ah-component-group__component:hover,
.ah-component-group__component:focus {
    filter: grayscale(0%);
}

.ah-component-group__component img {
    width: 100px;
    height: auto;
}

/*
p.component_section_title {
    display: none !important;
}

.single-product div.product .component_selections .component_content .component_summary {
    display: none !important;
}

.component_option_thumbnail.selected {
    box-shadow: none !important;
}

.component.disabled .component_option_thumbnail.selected:hover,
.component_option_thumbnail.disabled.selected:hover {
    box-shadow: 0px 0px 2px 2px rgba(200, 200, 200, 0.9)!important;
}
*/
.single-product #main .composite_form {
    flex-direction: column;
}

.single-product #main .composite_form .component {
    width: 100%;
}

.single-product #main .component_option_thumbnails_container {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    margin-left: -1%;
    margin-right: -1%;
}

.single-product #main .component_option_thumbnail_container {
    flex: 0 0 auto;
    width: 18%;
    margin: 1%;

}

.single-product #main .component_option_thumbnail_container .thumbnail_description {
    display: none;
}

.single-product #main .component_section_title {
    display: none;
}

.single-product #main .component_title {
    /*margin-top: 0;*/
    margin-bottom: 0;
}

.single-product #main form.cart {
    margin-top: 0;
}

/**
 * Related Products
 */
#wrapper #main .related.products .fusion-title h2 {
    text-transform: uppercase;
    color: #2B2B2B !important;
    font-size: 28px !important;
    line-height: 54px !important;
}

/**
 * Footer
 */
.widget .fusion-social-networks .fusion-social-network-icon {
    margin-right: 48px !important;
}